{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Nouvelle démarche</h1>

		{{ form_start(request_form, {'attr': {'class' : 'needs-validation w-50 m-auto'}}) }}
		{{ form_row(request_form.message, {
				'attr': {'class' : 'form-control mb-3 m-auto w-100', 'autofocus': 'autofocus'}, 'label_attr': {'class': 'form-label w-100'}}) }}
		{{ form_row(request_form.proof, {
				'attr': {'class' : 'form-control mb-3 m-auto w-100'}, 'label_attr': {'class': 'form-label w-100'}}) }}
		{{ form_row(request_form.prescription, {
				'attr': {'class' : 'form-control mb-3 m-auto w-100'}, 'label_attr': {'class': 'form-label w-100'}}) }}

		<button type="submit">Envoyer</button>
		{{ form_end(request_form) }}


	{% endblock %}
