{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Nouvelle démarche</h1>

		{{ form_start(request_form) }}
		{{ form_row(request_form.message) }}
		{{ form_row(request_form.proof) }}
		{{ form_row(request_form.prescription) }}

		<button type="submit">Envoyer</button>
		{{ form_end(request_form) }}


	{% endblock %}
