{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% block javascripts %}
		<script src="{{ asset('js/file-modal.js') }}"></script>
	{% endblock %}

	<div class="example-wrapper">
		<h1>Tableau de bord</h1>
		<p>Bonjour M.
			{{ app.user.lastName }}! ✅</p>
		<section>
			<h2>Ma situation</h2>
			<div>
				<h3>Mes notifications</h3>
			</div>
			<div>
				<h3>Mes démarches en cours</h3>
				<ul>
					{% for request in userRequests %}
						{%set iconPath ={
						'accepted': 'images/svg/sphere-verte.svg',
						'recieved': 'images/svg/sphere-orange.svg',
        				'in_progress': 'images/svg/sphere-orange.svg',
       					'rejected': 'images/svg/sphere-rouge.svg'
					}[request.status]%}
						<li>{{request.message}}:
							{{request.status}}
							<img src="{{ asset(iconPath)}}" alt="{{request.status}}"></li>
						<button data-file-type='proof' data-filename="{{request.proof}}" onclick="openModal(this)">Voir la facture</button>
						<button data-file-type='prescription' data-filename="{{request.prescription}}" onclick="openModal(this)">Voir la prescription</button>

					{% endfor %}
					{%include '/partials/file-modal.html.twig'%}
				</ul>

			</div>
			<div>
				<h3>Mes messages</h3>
				{# boite de réception #}

			</div>
			<div>
				<h3>contacter mon conseiller</h3>
				{# numéro #}
				{# email #}
			</div>
		</section>
		<a href="">Mes informations personnelles</a>


	</div>
{% endblock %}
